.wrapper {
	width: 62.5em;
	margin: 0 auto;
}

/* Navigation bar stuff */
.nav-area {
	width: 59.5em;
	margin: auto 0;
}

.menu-bg {
	background: #c20a34;
	position: relative;
	height: 3.188em;
	width: 58em;
	display: flex;
}

.menu-bg div {
	position: static;
	width: 25%;
	padding: none;
	list-style: none;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	background: #c20a34;
	color: #fff;
}

.menu-bg div a {
	list-style: none;
	display: block;
	background: #c20a34;
	text-decoration: none;
	text-align: center;
	padding: 1em 0;
	color: #fff;
}

.menu-bg div a:hover {
	background: #333;
}

/* Page Title */
.page-title {
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	padding: none;
	margin: -1em 0 1em 0;
	width: 29em;
	text-align: center;
	font-size: 24pt; /* Changed from 2em */
}

.project_list_description {
	width: 58em; /* Same width as menu-bg */
}

/* Collapsible Menus */
.collapsible {
	background-color: #777;
	color: #fff;
	cursor: pointer; /* Use "click here" hand on clickable content */
	padding: .4375em 1.75em;
	width: 38.625em;
	border: none;
	/* No stylized border on button */
	outline: none; /* No blue ring aound button when clicked */
	font-size: 18pt;
	font-weight: bold;
	font-family: serif;
	width: 38.625em;
	border: none;
}

.project_title {
	float: left;
	margin: 0 -0.5em;
}

.project_language {
	float: right;
	margin: 0 -1em;
}

.active, .collapsible:hover { /* Darken the button when hovering */
	background-color: #555;
}

.collapsible:before { /*Before user has clicked to expand */
	content: '\002B'; /* Unicode character for "plus" sign (+) */
	float: left;
	margin: 0em -1.5em; /* shift so + is between left edge and text */
}

.active:before { /* After user has clicked to expand */
	content: '\2212'; /* Unicode character for "minus" sign (-) */
	float: left;
	margin: 0em -1.5em; /* shift so + is between left edge and text */
}

/* Content of text and images in collapsible writeup */
.coll_content {
	padding: 0em 1em;
	max-height: 0em; /*Keep content collapsed by default */
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
	width: 55.25em;
	border: .25em solid #fff; /* Visually collapsible panels */
}

/* Images in writeup */
.collTitleImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 17em;
	max-height: 17em;
}

/* Stuff for tabbed paragraphs */
.tabbedP {
	text-indent: 2em;
}

.tabbedP a {
	color: #00F;
	text-decoration: none;
}

.tabbedP a:hover { /* Underline links when hovered over */
	text-decoration: underline;
}

/* Stuff for image collages */
.imgCollage {
	max-width: 52em;
}

.imgCollage .collageCol {
	float: left;
	max-width: 25em;
	padding: 5px;
}

.imgCollage .collageCol2 {
	float: left;
	width: 16.666em;
	height: 16.666em;
	padding: 5px;
}

.imgCollage .collageRow {
	content: "";
	clear: both;
	display: table;
}

/* Images in lights out writeup */
.imgCol {
	float: left;
	width: 50%;
	padding: 1em;
}

.imgRow::after {content ="";
	clear: both;
	display: table;
}

.centeredImg {
	text-align:center;
}

.centeredImg img{
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	max-height:25em;
}