@charset "ISO-8859-1";

.wrapper {
	width: 62.5em;
	margin: 0 auto;
}

/* Navigation bar stuff */
.nav-area {
	margin: -2.5em 0;
	width: 59.5em;
}

.menu-bg {
	background: #c20a34;
	margin: 3.125em 0;
	position: relative;
	height: 3.188em;
	width: 58em;
	z-index: 400;
	display: flex;
}

.menu-bg div {
	position: static;
	width: 14.875em;
	padding: 0;
	list-style: none;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	background: #c20a34;
	color: #fff;
}

.menu-bg div a {
	list-style: none;
	display: block;
	background: #c20a34;
	text-decoration: none;
	text-align: center;
	padding: 1em 0;
	color: #fff;
}

.menu-bg div a:hover {
	background: #333;
}

/* Page Title */
.page-title {
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	padding: 0 .9375em;
	margin: .9375em 0;
	width: 27.125em;
	text-align: center;
	font-size: 2em;
}

/* Collapsible Menus */
.collapsible {
	background-color: #777;
	color: #fff;
	cursor: pointer;
	padding: .4375em 1.75em;
	width: 38.625em;
	border: none;
	text-align: left;
	outline: none;
	font-size: 18pt;
	font-weight: bold;
	font-family: serif;
}

.active, .collapsible:hover { /* Darken when hovering */
	background-color: #555;
}

.collapsible:after { /*Before user has clicked to expand */
	content: '\002B'; /* Unicode character for "plus" sign (+) */
	color: white;
	float: left;
	font-size: 18pt;
	margin: 0 -1.5em; /* shift so 5px margin between left and text */
}

.active:after { /* After user has clicked to expand */
	content: "\2212"; /* Unicode character for "minus" sign (-) */
}

.coll_content {
	padding: 0 25px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #f1f1f1;
	width: 54em;
	border: 5px solid #fff; /* Visually collapsible panels */
}

.collTitleImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 17em;
	max-height: 17em;
}

.tabbedP{
	text-indent: 2em;
}

.tabbedP a {
	color: #00F;
	text-decoration: none;
}

.tabbedP a:hover {
	text-decoration: underline;
}

.imgCollage{
	max-width: 52em;
}

.imgCollage .collageCol{
	float: left;
	max-width: 25em;
	padding: 5px;
}

.imgCollage .collageCol2{
	float: left;
	width: 16.666em;
	height: 16.666em;
	padding: 5px;
}

.imgCollage .collageRow{
	content: "";
	clear: both;
	display: table;
}