/* Hide scrollbar */
body::-webkit-scrollbar {
	display: none;
}

/* Color of project dropdowns and how it changes */
a.dropdown-item {
	color: rgba(255, 255, 255, 0.7);
}

a.dropdown-item:hover {
	background-color: #6C757D;
	color: white;
}

/* Color of badges if project dropdowns */
.badge {
	color: white;
}

.badge.badge-bootstrap {
	background-color: #7A43B6;
}

.badge.badge-python3 {
	background-color: #FFD43B;
}

.badge.badge-java {
	background-color: #ED8B00;
}

.badge.badge-web {
	background-color: #F16529;
}

.badge.badge-twitter {
	background-color: #00ACEE;
}

.badge.badge-tex {
	background-color: #AFAFAF;
}

.badge.badge-android {
	background-color: #A4C639;
}

/* Styling of icons in footer */
i.footer-icon:before {
	font-size: 18pt;
	padding: 0.5em;
}

i.badge-icon:before {
	font-size: 12pt;
	padding: 0.25em;
}

/** Make dropdown scrollable */
.dropdown-menu {
	max-height: 60vh;
	overflow-y: auto;
}

.dropdown-menu::-webkit-scrollbar {
	display: none;
}

/******* Custom project.html stylings ********/

/* Make the profile photo circular */
#profile-photo {
	width: 172px;
	height: auto;
	border-color: black;
	border-width: 20px;
	border-radius: 50%;
}