body {
	background-image: url(../Images/Index/MyPicture.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	min-height:97%;
	background-repeat: no-repeat;
	font-family: "Times New Roman" Times, serif;
}

.wrapper {
	width: 62.5em;
	margin: 0 auto;
}

/* Navigation bar stuff */
.nav-area {
	width: 59.5em;
	margin: auto 2em;
}

.menu-bg {
	background: #c20a34;
	position: relative;
	height: 3.188em;
	width: 58em;
	display: flex;
}

.menu-bg div {
	position: static;
	width: 25%;
	padding: none;
	list-style: none;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	background: #c20a34;
	color: #fff;
}

.menu-bg div a {
	list-style: none;
	display: block;
	background: #c20a34;
	text-decoration: none;
	text-align: center;
	padding: 1em 0;
	color: #fff;
}

.menu-bg div a:hover {
	background: #333;
}

.home-text {
	margin: 7.5% 2em;
	background: rgba(0, 0, 0, .5);
	width: 50%;
	padding: 5%;
	color: #fff;
	text-transform: uppercase;
}

.home-text h1 {
	font-size: 3.125em;
	margin: -10px 0;
}

.home-text h2 {
	margin: 10px 0;
}

.home-text p {
	font-size: 1.125em;
	letter-spacing: 1px;
}

.home-text a {
	background: #c20a34;
	text-decoration: none;
	display: inline-block;
	padding: .938em 1.875em;
	color: #fff;
}

.home-text a:hover {
	background: #333;
}
