@charset "ISO-8859-1";

body {
	background-image: url(./Images/Index/MyPicture.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	height: 97vh;
	font-family: "Times New Roman" Times, serif;
}

.wrapper {
	width: 1000px;
	margin: 0px auto;
}

/* Navigation bar stuff */
.nav-area {
	margin: -40px 0px;
	width: 952px;
}

.menu-bg {
	background: #c20a34;
	margin: 50px 0px;
	position: relative;
	height: 51px;
	z-index: 400;
	display: flex;
}

.menu-bg div {
	position: static;
	width: 238px;
	padding: 0px;
	list-style: none;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	background: #c20a34;
	color: #fff;
}

.menu-bg div a {
	list-style: none;
	display: block;
	background: #c20a34;
	text-decoration: none;
	text-align: center;
	padding: 16px 0px;
	color: #fff;
}

.menu-bg div a:hover {
	background: #333;
}

.home-text {
	margin: 7.5% 0px;
	background: rgba(0, 0, 0, .5);
	width: 50%;
	padding: 5%;
}

.home-text h2 {
	color: #fff;
	text-transform: uppercase;
	font-size: 50px;
	margin: -10px 0px
}

.home-text h3 {
	color: #fff;
	text-transform: uppercase;
	margin: 10px 0;
}

.home-text p {
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: 1px;
}

.home-text a {
	background: #c20a34;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	padding: 15px 30px;
	text-transform: uppercase;
}

.home-text a:hover {
	background: #333;
}
