<!-- Computer Generated Art -->
<section
  class="page-section text-black mb-0"
  id="project-7"
  style="padding-top: 3.25em"
>
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-black">
      Computer Generated Art
    </h2>

    <div class="row">
      <div class="col">
        <p class="lead">
          Visuals have always been an effective and fun way for me to learn,
          especially when the topic is abstract. The
          <a
            href="https://docs.python.org/2/library/tkinter.html"
            target="_blank"
            >tkinker</a
          >,
          <a
            href="https://docs.python.org/3.3/library/turtle.html?highlight=turtle"
            target="_blank"
            >turtle</a
          >, and
          <a href="https://python-pillow.org/" target="_blank">Pillow</a>
          Python GUI libraries allow for simple image manipulation, down to the
          pixel level.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="lead">
          For example, the left image below visualizes how numbers change after
          a given number of iterations in the unsolved Collatz conjecture; it
          has been my phone background for several years. For a more artistic
          visualization, see the right image below, which applies a smeared
          watercolor effect.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 ml-auto">
        <img
          src="./assets/Images/Projects/Python/Collatz1080.bmp"
          alt="Python-created image based on the Collatz conjecture"
        />
      </div>
      <div class="col-sm-5 mr-auto">
        <img
          src="./assets/Images/Projects/Python/CollatzWC2.bmp"
          alt="Python-crated image based on the Collatz conjecture with watercolor streaks"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="lead">
          One can also visualize more useful and common mathematical ideas. The
          left image below shows how horizontal and vertical lines in the
          complex plane are transformed under e^(1/z). One can clearly see
          concentric cardioids. The right image below shows the graph of several
          common functions, like sine and the natural logarithm.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 ml-auto">
        <img
          src="./assets/Images/Projects/Python/e^(z^-1).bmp"
          alt="Python-created image of the complex mapping of e^(1/z)"
        />
      </div>
      <div class="col-sm-5 mr-auto">
        <img
          src="./assets/Images/Projects/Python/pillowfunctions.bmp"
          alt="Python-created image of graphed functions"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="lead">
          The Turtle library allows one to trace out colored paths in an image,
          like the rainbow spiral no the left below. Getting a little more
          advanced, one can create recursive shapes, like the Koch Snowflake,
          Seirpinski Triangle, and dragon curve, shown below.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 ml-auto">
        <img
          src="./assets/Images/Projects/Python/Capture10.PNG"
          alt="Python-created image of hexagonal rainbow sprial"
        />
      </div>
      <div class="col-sm-5 mr-auto">
        <img
          src="./assets/Images/Projects/Python/snowflake.PNG"
          alt="Python-created image of Koch Snowflake"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 ml-auto">
        <img
          src="./assets/Images/Projects/Python/serpinski-2.PNG"
          alt="Python-created image of Seirpinski Triangle"
        />
      </div>
      <div class="col-sm-5 mr-auto">
        <img
          src="./assets/Images/Projects/Python/dragonCurve-1.PNG"
          alt="Python-created image of dragon curve"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="lead">
          One can also make other startlingly complex images from a simple set
          of recursive rules. The below images, known collectively as "strange
          attractors," show a tree, Barnsley Fern, pine branch and piece of tall
          grass. The procedural generation techniques used to create these
          images, known as L-systems, are used in many of today's popular video
          games to make random, realistic terrain and plants.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 ml-auto">
        <img
          src="./assets/Images/Projects/Python/30degTree.PNG"
          alt="Python-created image of 30-degree binary tree"
        />
      </div>
      <div class="col-sm-5 mr-auto">
        <img
          src="./assets/Images/Projects/Python/barnsleyFern.PNG"
          alt="Python created image of Barnsley Fern"
        />
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 ml-auto">
        <img
          src="./assets/Images/Projects/Python/TallGrass1-1.PNG"
          alt="Python-created image of L-system resembling tall grass"
        />
      </div>
      <div class="col-sm-5 mr-auto">
        <img
          src="./assets/Images/Projects/Python/PineBranch-1.PNG"
          alt="Python-created image of L-system resembling pine branch"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="lead">
          The images above and many others that I made in Python, as well as the
          code used to create them, are available on
          <a
            href="https://github.com/wmboyles/Python-Projects/tree/master/Graphics_Images/ImageCreation/PIL"
            target="_blank"
            >GitHub</a
          >.
        </p>
      </div>
    </div>
  </div>
</section>
