<!-- Computer Generated Art -->
<p class="lead">
    Visuals have always been an effective and fun way for me to learn,
    especially when the topic is abstract. The
    <a href="https://docs.python.org/2/library/tkinter.html" target="_blank"
        >tkinker</a
    >,
    <a
        href="https://docs.python.org/3.3/library/turtle.html?highlight=turtle"
        target="_blank"
        >turtle</a
    >, and
    <a href="https://python-pillow.org/" target="_blank">Pillow</a>
    Python GUI libraries allow for simple image manipulation, down to the pixel
    level.
</p>

<p class="lead">
    For example, the mostly black image below visualizes how numbers change
    after a given number of iterations in the unsolved Collatz conjecture; I
    like the chaotic look and contrasting colors so much that it has been my
    phone background for several years. Next is more artistic visualization,
    which applies a smeared watercolor effect to the same Collatz conjecture.
</p>

<div class="row">
    <div class="col-md-6">
        <img
            src="/assets/Images/Projects/Python/Collatz1080.bmp"
            alt="Python-created image based on the Collatz conjecture"
        />
    </div>
    <div class="col-md-6">
        <img
            src="/assets/Images/Projects/Python/CollatzWC2.bmp"
            alt="Python-created image based on the Collatz conjecture with watercolor streaks"
        />
    </div>
</div>

<p class="lead">
    One can also visualize more useful and common mathematical ideas. The first
    image below shows how horizontal and vertical lines in the complex plane are
    transformed under e^(1/z). You can see concentric cardioids. The next image
    below shows the graph of several common functions, like sine and the natural
    logarithm.
</p>

<div class="row">
    <div class="col-md-4 offset-md-2">
        <img
            src="/assets/Images/Projects/Python/e^(z^-1).bmp"
            alt="Python-created image of the complex mapping of e^(1/z)"
        />
    </div>
    <div class="col-md-4">
        <img
            src="/assets/Images/Projects/Python/pillowfunctions.bmp"
            alt="Python-created image of graphed functions"
        />
    </div>
</div>

<p class="lead">
    The Turtle library allows one to trace out colored paths in an image, like
    the rainbow spiral below. Getting a little more advanced, one can create
    recursive shapes, like the Koch Snowflake, Seirpinski Triangle, and dragon
    curve, shown below.
</p>

<div class="row">
    <div class="col-md-4 offset-md-2">
        <img
            src="/assets/Images/Projects/Python/Capture10.PNG"
            alt="Python-created image of hexagonal rainbow sprial"
        />
    </div>
    <div class="col-md-4">
        <img
            src="/assets/Images/Projects/Python/snowflake.PNG"
            alt="Python-created image of Koch Snowflake"
        />
    </div>
</div>
<div class="row">
    <div class="col-md-4 offset-md-2">
        <img
            src="/assets/Images/Projects/Python/serpinski-2.PNG"
            alt="Python-created image of Seirpinski Triangle"
        />
    </div>
    <div class="col-md-4">
        <img
            src="/assets/Images/Projects/Python/dragonCurve-1.PNG"
            alt="Python-created image of dragon curve"
        />
    </div>
</div>

<p class="lead">
    One can also make other startlingly complex images from a simple set of
    recursive rules. The below images, known collectively as "strange
    attractors," show a tree, Barnsley Fern, pine branch and piece of tall
    grass. The procedural generation techniques used to create these images,
    known as L-systems, which can in many of today's popular video games to make
    random, realistic terrain and plants.
</p>

<div class="row">
    <div class="col-md-5 offset-md-1">
        <img
            src="/assets/Images/Projects/Python/30degTree.PNG"
            alt="Python-created image of 30-degree binary tree"
        />
    </div>
    <div class="col-md-5">
        <img
            src="/assets/Images/Projects/Python/barnsleyFern.PNG"
            alt="Python created image of Barnsley Fern"
        />
    </div>
</div>
<div class="row">
    <div class="col-md-5 offset-md-1">
        <img
            src="/assets/Images/Projects/Python/TallGrass1-1.PNG"
            alt="Python-created image of L-system resembling tall grass"
        />
    </div>
    <div class="col-md-5">
        <img
            src="/assets/Images/Projects/Python/PineBranch-1.PNG"
            alt="Python-created image of L-system resembling pine branch"
        />
    </div>
</div>

<p class="lead">
    The images above and many others that I made in Python, as well as the code
    used to create them, are available on
    <a
        href="https://github.com/wmboyles/Python-Projects/tree/master/Graphics_Images/ImageCreation/PIL"
        target="_blank"
        >GitHub</a
    >.
</p>
