<!-- Math Summaries -->
<section
    class="page-section bg-light text-black mb-0"
    id="project-4"
    style="padding-top: 3.25em"
>
    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-black">
            Math Summaries
        </h2>

        <div class="row">
            <div class="col">
                <p class="lead">
                    While taking a summer physics class dealing with
                    multivariable calculus, I realized how much of the subject I
                    had forgotten even though I took multivariable calculus
                    class (Calc III) only nine months earlier. I also knew that
                    several of my friends who would be taking Calc III in the
                    coming semesters had already requested my notes and advice
                    about the class.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="lead">
                    However, I like to keep my notes, which can be hard for
                    others to read, as a reference. I decided to digitize my
                    notes using
                    <a href="https://www.latex-project.org/" target="_blank"
                        >LaTeX</a
                    >
                    in an abridged textbook structure. I would also add better
                    visual aids than the hurriedly-drawn sketches in my nodes.
                    This way, I could easily share clear and legible notes, keep
                    the my original notes, and refresh my own understanding. By
                    the time I was finished, I had condensed the several
                    thousand page textbook into an
                    <a href="./assets/PDF/MA242_Summary.pdf" target="_blank"
                        >81 pages</a
                    >
                    that covered almost all topics mentioned in class while
                    still containing many visual aids and full length proofs. I
                    feel much more confident in my abilities, and I think my
                    friends will be able to learn from me much more easily.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="lead">
                    After completing my notes, I posted the results to
                    <a href="https://www.reddit.com/r/math/" target="_blank"
                        >r/math</a
                    >, an online community of math enthusiasts. To my surprise
                    my post was incredibly well received, and several users
                    suggested open sourcing my work so that others could help
                    make corrections and suggest additions.
                    <a
                        href="https://github.com/wmboyles/Math-Summaries"
                        target="_blank"
                        >The repo</a
                    >
                    is available and has already taken several community
                    contributions.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="lead">
                    I've begun expanding the scope of the project beyond
                    multivaraible calculus. I recently completed a
                    <a href="./assets/PDF/MA341_Summary.pdf" target="_blank">
                        92-page summary
                    </a>
                    of introductory differential equations, and hope to start
                    working on a similar document for linear algebra. Due to
                    user suggestions, a summary of single variable calculus is
                    also forthcoming.
                </p>
            </div>
        </div>
    </div>
</section>
