<!-- Twitter Bad Words Bot -->

<p class="lead">
    The specific words that people choose to use can provide insight into their
    background and character. Although reasonable people can vehemently
    disagree, a good indicator of mutual respect between two parties is that
    neither resorts to vulgarity. Inspired by other bots on platforms like
    Reddit and Discord that could provide information on the language that users
    have used and play a part in keeping online discussion civil, I set out to
    create a Twitter bot that when called upon by a Twitter user would provide
    information on vulgarities that a requested user had recently tweeted.
</p>

<!-- Embedded Tweet -->
<blockquote class="twitter-tweet tw-align-center">
    <p lang="en" dir="ltr">
        Bad Word Count Bot Report for
        <a href="https://twitter.com/BadWordsMovie?ref_src=twsrc%5Etfw"
            >@badwordsmovie</a
        >&#39;s last 100 tweets<br />bitch - 3<br />hell - 3<br />fucking - 2<br />fuck
        - 2<br />ass - 1<br />cunt - 1<br />fucker - 1<br />damn - 1<br />tits -
        1<br />asshole - 1<br />shit - 1
    </p>
    &mdash; Bad Word Count Bot (@BadWordCount)
    <a
        href="https://twitter.com/BadWordCount/status/1181932968371200007?ref_src=twsrc%5Etfw"
        >October 9, 2019</a
    >
</blockquote>
<script
    async
    src="https://platform.twitter.com/widgets.js"
    charset="utf-8"
></script>

<p class="lead">
    I wrote the bot in Python, following basic online video tutorials that
    detailed how to work with the Twitter API through the Python library
    <a href="https://www.tweepy.org/" target="_blank">tweepy</a>. Although these
    tutorials showed me how to detect when a user had @ mentioned the bot and
    how to respond to tweets, the real challenge and substance of this bot came
    from accessing another user's tweets, parsing through them to find bad
    words, and reporting the frequency of these bad words within the
    280-character limit of a Tweet.
</p>

<p class="lead">
    After finding separate answers on how to access a given user's tweets, I got
    to work on detecting bad words. Although I found several GitHub repos that
    contained lists of bad words, many were too comprehensive, marking even
    words with possible negative connotations, like the names of political
    parties, as bad. I eventually settled on a
    <a
        href="https://github.com/RobertJGabriel/Google-profanity-words"
        target="_blank"
        >list</a
    >
    of 444 common words collected by Google. This list was comprehensive enough
    to cover most bad word, and even common variations like swapping a letter
    for a number. On the implementation side, I took advantage of Python's built
    in dictionary functionality to find matching bad words in a user's 100 most
    recent tweets and rank them by frequency.
</p>

<p class="lead">
    The bot's Twitter handle is
    <a href="https://twitter.com/BadWordCount" target="_blank">@BadWordCount</a
    >.
    <del
        >Go ahead and try it out on some of your favorite twitter users. The
        tweet shown above is from a movie starring Jason Bateman. The code that
        the bot is running is on my
        <a href="https://github.com/wmboyles/BadWordsBot" target="_blank"
            >GitHub</a
        >.</del
    >
    The bot is currently not deployed. I hope to find a long term, affordable,
    and reliable deployment solution.
</p>
