<!-- Personal Website -->
<section class="page-section text-black mb-0" id="project-3">
  <div class="container">
    <h2 class="page-section-heading text-center text-uppercase text-black">
      Personal Website
    </h2>
    <div class="row">
      <div class="col">
        <p class="lead">
          I created wmboyles.com because I felt that my front-end development
          skills were lacking. Front-end development is taught (if at all) in
          most computer science curriculums as an afterthought. However, I
          believe that just as students are taught to make clean, legible, and
          well-documented code through comments and programming paradigms (like
          object-oriented), they should also be taught how to make clean,
          navigable, and intuitive front ends. After all, this is the portion of
          a product with which most end-users will interact. wmboyles.com is
          meant to meet these design criteria and to be a place to talk about
          myself and my experience more in-depth than in a resume. In order to
          have a full experience in creating my own website, I didn't use any
          hand-holding website builders.
        </p>
      </div>
    </div>
    <h4 class="page-subsection-heading text-uppercase text-black">Version 2</h4>
    <div class="row">
      <div class="col">
        <p class="lead">
          Although the original version of my site was passable, the code was
          messy, images were difficult to deal with, and the website did not
          work well on mobile devices. With these issues in mind, I resigned the
          site to use
          <a href="https://getbootstrap.com/" target="_blank">Bootstrap </a>
          to give the site a cleaner look and help in addressing mobile issues.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="lead">
          In the future, I'd like to make use of JavaScript frameworks like
          React or Angular to build elements more quickly and cleanly. With all
          the text from all the projects on this page, the html file is many
          lines and can be difficult to edit.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p class="lead">
          Although you are already viewing the website, all the code is
          available on
          <a href="https://github.com/wmboyles/wmboyles.com">GitHub</a>.
        </p>
      </div>
    </div>
  </div>
</section>
