<meta charset="utf-8" />
<meta
  name="keywords"
  content="William,Boyles,software,data structures,algorithms,engineer,computer science,CS,CSC,NC State,NCSU,Java,Python,math,summaries,JavaScript,HTML,CSS,Bootstrap,LaTeX,Android"
/>
<meta name="viewport" content="width=device-width, user-scalable=yes" />
<meta name="author" content="William Boyles" />

<!-- Use bootstrap -->
<link
  rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
  integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
  crossorigin="anonymous"
/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script
  async
  src="https://www.googletagmanager.com/gtag/js?id=UA-143402318-1"
></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());
  gtag("config", "UA-143402318-1");
</script>
