<main class="container">
    <div class="jumbotron jumbotron-fluid col-lg-6 offset-lg-3 py-2 col-sm-12">
        <div class="container my-0">
            <h3 class="display-5">Email</h3>
            <p class="lead pl-4">
                <a href="mailto:williamboyles22900@gmail.com"
                    >williamboyles22900@gmail.com</a
                >
            </p>
            <p class="lead pl-4">
                <a href="mailto:wmboyle2@ncsu.edu">wmboyle2@ncsu.edu</a>
            </p>
            <h3 class="display-5">Github</h3>
            <p class="lead pl-4">
                <a href="https://www.github.com/wmboyles">wmboyles</a>
            </p>
            <h3 class="display-5">LinkedIn</h3>
            <p class="lead pl-4">
                <a href="https://www.linkedin.com/in/wmboyles">wmboyles</a>
            </p>
            <h3 class="display-5">Phone</h3>
            <p class="lead pl-4">(336) 749-6144</p>
        </div>
    </div>
</main>
