<!-- A footer containing some copyright and contact info -->
<footer class="mt-auto py-4 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">© William Boyles 2022</p>
        <div class="container text-center" id="icons">
            <a href="mailto:wmboyles@wmboyles.com" target="_blank">
                <i class="footer-icon fas fa-at"></i>
            </a>
            <a href="https://www.github.com/wmboyles/" target="_blank">
                <i class="footer-icon fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/wmboyles/" target="_blank">
                <i class="footer-icon fab fa-linkedin"></i>
            </a>
        </div>
    </div>
</footer>