<!-- Content unique to homepage that can't be written in markdown -->
<div class="container">
  <img class="rounded-circle mx-auto d-block" src="./assets/Images/Index/MyPicture.jpg" alt="William Boyles's Face" />
</div>
<h2>About Me</h2>
<hr />
<p>
  Hi, I'm William Boyles. I am a software engineer at Microsoft based out of the Puget Sound area. I graduated with
  undergraduate degrees in Mathematics and Computer Science from North Carolina State University. I'm originally from
  Winston-Salem, North Carolina. When I'm not busy enhancing the security and reliablity of Microsoft's Secure Token
  Service, you might find me working on some of my own projects, like an NCAA Tournament predictor, open source math
  textbooks, a photo storage app, or even this website. You might also find me traveling and enjoying the outdoors by
  hiking or skiing. Otherwise, I'll be indoors, solving Rubik's cubes or binging a new anime my family.
</p>