<!-- Content unique to homepage that can't be written in markdown -->
<main class="container col-lg-8">
  <div class="container">
    <img class="rounded-circle mx-auto d-block" src="./assets/Images/Index/MyPicture.jpg" alt="William Boyles's Face" />
  </div>
  <h2>About Me</h2>
  <hr />
  <p>
    Hi, I'm William Boyles. I am a software engineer at Microsoft based out of the Puget Sound area. I graduated with
    undergraduate degrees in Mathematics and Computer Science from North Carolina State University. I'm originally from
    Winston-Salem, North Carolina. When I'm not busy working on big data problems in Microsoft's Azure commerce
    platform, you might find me working on some of my own projects, like an NCAA Tournament predictor, an open source
    project to summarize various math subjects, or even this website. You might also find me enjoying the outdoors by
    hiking, skiiing, or rock climbing. Otherwise, I'll be indoors, solving Rubik's Cubes, playing ping-pong, or binging
    movies and TV shows.
  </p>
  <p>
    Previously, I worked as an intern at Microsoft where I built an Azure Data Factory pipeline that would report sales
    mismatches to an incident management system. Before that, I worked at IBM as a Cloud and Cognitive Software Intern.
    I built a Python bot that analyzed and reported cloud outage over Slack. I can't wait to see what the future holds
    in store.
  </p>
</main>