<!-- Content unique to homepage that can't be written in markdown -->
<main class="container col-8">
    <div class="container">
        <center>
            <img
                id="profile-photo"
                src="./assets/Images/Index/MyPicture2.jpg"
                alt="William Boyles's Face"
            />
        </center>
    </div>
    <h2>About Me</h2>
    <hr />
    <p>
        Hi, I'm William Boyles. I'm a <b>computer science</b> and
        <b>mathematics</b> double major at
        <b>North Carolina State Univeristy</b>, graduating in <b>May 2022</b>.
        I'm originally from Winston-Salem, North Carolina. When I'm not busy
        with my school work for classes like <b>Computational Geometry</b>,
        <b>Data Structures &amp; Algorithms</b>, or <b>Cryptography</b>, you
        might find me working on some of my own projects, like an app to predict
        air quality in Indian metro areas using <b>React</b> and
        <b>Python 3</b>, running my <b>open source</b> project that provides
        full-length <b>LaTeX</b> summaries of various mathematical subjects, or
        even this website. If I'm not writing code or doing math, you might find
        me solving Rubik's Cubes, playing ping-pong, cooking a new dish,
        traveling with friends and family, or binging a comedy on Netflix.
    </p>
    <p>
        This past summer, I worked at <b>IBM</b> as a
        <b>Cloud &amp; Cognitive Software Intern</b>, where I used my
        <b>Python 3</b> skills to analyze and report cloud outage data using a
        Slack bot. It was a really great experience, and I learned a lot about
        how to work on a team to develop software. I also learned a lot about
        <b>Docker</b> and <b>Kubernetes</b>, which I used to deployed my work.
        This summer, I'll be working at <b>Microsoft</b> as a
        <b>Software Engineering Intern</b>. I'm excited to see how IBM and
        Microsoft compare, and I can't wait to see what amazing projects I'll do
        and things I'll learn.
    </p>
</main>
