<main class="container col-lg-6 col-sm-12">
  <ul class="list-group list-group-flush">
    <li class="list-group-item list-group-item-action">
      <a href="/projects/lightsout">
        <h4>Lights Out Android App</h4>
      </a>
      <span class="badge badge-java x-1">Java<i class="badge-icon fab fa-java"></i></span>
      <span class="badge badge-android x-1">Android Studio<i class="badge-icon fab fa-android"></i>
      </span>
    </li>
    <li class="list-group-item list-group-item-action">
      <a href="/projects/seeo2">
        <h4>SeeO2: Air Quality Tracking &amp; Prediction</h4>
      </a>
      <span class="badge badge-python3 x-1">Python<i class="badge-icon fab fa-python"></i></span>
      <span class="badge badge-web x-1">React<i class="badge-icon fab fa-react"></i></span>
    </li>
    <li class="list-group-item list-group-item-action">
      <a href="/projects/mathsummaries">
        <h4>Math Summaries</h4>
      </a>
      <span class="badge badge-tex x-1">TeX<i class="badge-icon fas fa-subscript"></i></span>
    </li>
    <li class="list-group-item list-group-item-action">
      <a href="/projects/playj">
        <h4>Play J!: Online Jeopardy! Game</h4>
      </a>
      <span class="badge badge-web x-1">JS<i class="badge-icon fas fa-code"></i></span>
    </li>
    <li class="list-group-item list-group-item-action">
      <a href="/projects/ncaapredictions">
        <h4>NCAA Tournament Predictions</h4>
      </a>
      <span class="badge badge-python3 x-1">Python<i class="badge-icon fab fa-python"></i></span>
      <span class="badge badge-tex x-1">TeX<i class="badge-icon fas fa-subscript"></i></span>
    </li>
    <li class="list-group-item list-group-item-action">
      <a href="/projects/azurephotos">
        <h4>AzurePhotos</h4>
      </a>
      <span class="badge badge-python3 x-1">Python<i class="badge-icon fab fa-python"></i></span>
      <span class="badge badge-azure x-1">Azure<i class="badge-icon fab fa-microsoft"></i></span>
    </li>
    <li class="list-group-item list-group-item-action">
      <a href="/projects/website">
        <h4>Personal Website</h4>
      </a>
      <span class="badge badge-bootstrap x-1 mr-1">Bootstrap<i class="badge-icon fab fa-bootstrap"></i></span>
      <span class="badge badge-azure x-1">Azure<i class="badge-icon fab fa-microsoft"></i></span>
    </li>
    <li class="list-group-item list-group-item-action">
      <a href="/projects/compart">
        <h4>Computer-Generated Art</h4>
      </a>
      <span class="badge badge-python3 x-1">Python<i class="badge-icon fab fa-python"></i></span>
    </li>
    <li class="list-group-item list-group-item-action">
      <a href="/projects/vocabgreview">
        <h4>VocabGREview: Vocabulary Questions Generator</h4>
      </a>
      <span class="badge badge-python3 x-1">Python<i class="badge-icon fab fa-python"></i></span>
      <span class="badge badge-web x-1">React<i class="badge-icon fab fa-react"></i></span>
    </li>
    <li class="list-group-item list-group-item-action">
    <a href="/projects/twitterbot">
      <h4>Twitter Bad Words Bot</h4>
      </a>
      <span class="badge badge-python3 x-1">Python<i class="badge-icon fab fa-python"></i></span>
      <span class="badge badge-twitter x-1">Twitter API<i class="badge-icon fab fa-twitter"></i></span>
    </li>
  </ul>
</main>