<main class="container col-8">
    <ul>
        <li>
            <a href="/projects/lightsout">Lights Out Android App</a>
        </li>
        <li>
            <a href="/projects/seeo2"
                >SeeO2: Air Quality Tracking &amp; Prediciton</a
            >
        </li>
        <li>
            <a href="/projects/mathsummaries">Math Summaries</a>
        </li>
        <li>
            <a href="/projects/playj">Play J!: Online Jeopardy! Game</a>
        </li>
        <li>
            <a href="/projects/twitterbot">Bad Words Twitter Bot</a>
        </li>
        <li>
            <a href="/projects/website">Personal Website</a>
        </li>
        <li>
            <a href="/projects/compart">Computer-Generated Art</a>
        </li>
    </ul>
</main>
