@charset "ISO-8859-1";

.wrapper {
	width: 62.5em;
	margin: 0 auto;
}

/* Navigation bar stuff */
.nav-area {
	margin: -2.5em 0;
	width: 59.5em;
}

.menu-bg {
	background: #c20a34;
	margin: 3.125em 0;
	position: relative;
	height: 3.188em;
	width: 58em;
	z-index: 400;
	display: flex;
}

.menu-bg div {
	position: static;
	width: 14.875em;
	padding: 0;
	list-style: none;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	background: #c20a34;
	color: #fff;
}

.menu-bg div a {
	list-style: none;
	display: block;
	background: #c20a34;
	text-decoration: none;
	text-align: center;
	padding: 1em 0;
	color: #fff;
}

.menu-bg div a:hover {
	background: #333;
}

/* Page Title */
.page-title {
	background-color: rgba(0, 0, 0, .5);
	color: #fff;
	padding: 0 .9375em;
	margin: .9375em 0;
	width: 27.125em;
	text-align: center;
	font-size: 2em;
}


.sidebar {
	position: fixed;
	top: .625em;
	right: 0;
	width: 12.5em;
}

/* Scrolling downloads sidebar won't show up when printing */
@media print {
	.sidebar, .sidebar * {
		display: none !important;
	}
}


/* Downloads sidebar with buttons that scrolls with you */
nav {
	position: sticky;
	left: -12.5em;
	background: #c20a34;
}

nav div {
	list-style: none;
	display: block;
	background: #c20a34;
	color: #fff;
}

nav div a {
	position: relative;
	left: 0;
	list-style: none;
	display: block;
	background: #c20a34;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	padding: 1em 1em;
}

nav div a:hover {
	background: #333;
}

footer {
	background-color: rgba(255, 255, 255, 0);
	position: relative;
	width: 100%;
	padding: 1em 0;
	text-align: center;
}

footer p {
	font-size: 14px;
	color: #000;
}

.resumeTitle {
	width: 58em;
}

.edu {
	width: 58em;
}

.workExp {
	width: 58em;
}

.skills {
	width: 58em;
}

.honors {
	width: 58em;
}

.mail {
	color: #000;
	text-decoration: none;
}

.mail:hover {
	color: #00F;
	text-decoration: underline;
}