<!DOCTYPE html>
<html>
  <head>
    <meta name="description" content="{{ page.description }}" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="./assets/CSS/lightsOut.css" />

    {% include common_head.html %}
  </head>
  <body onload="promptUser()">
    {% include nav.html %} {% include page_header.html %}

    <main>
      <!-- The board is created by JS -->
      <div class="container mb-3">
        <center>
          <div class="row container">
            <div id="clicksCount" class="col-md-4">Clicks: 0</div>
            <div class="col-md-4">
              <button id="reset" onclick="reset()">Reset</button>
            </div>

            <div class="col-md-4">
              <button id="scramble" onclick="scramble()">Scramble</button>
            </div>
          </div>
        </center>
      </div>
      <div id="board" class="mb-3"></div>
    </main>

    {% include footer.html %} {% include common_end_body.html %}
    <!-- Script to run game -->
    <script src="./assets/JS/lightsOut.js"></script>
  </body>
</html>
